*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(39, 31, 61);
  color: rgb(39, 31, 61);
  font-family: "Roboto";
}
h1 {
  font-weight: 700;
  font-size: 5em;
}
p {
  font-weight: 400;
  font-size: 2em;
}
ul li {
  list-style: none;
  font-size: 1.5em;
  margin-top: 0.5em;
}
ul {
  padding: 0;
}

/*BEGINNING OF THE @MEDIA PORTION*/

@media (max-width: 901px) {
  h1 {
    font-weight: 700;
    font-size: 3em;
  }
  p {
    font-weight: 400;
    font-size: 1em;
  }
}
@media (max-width: 659px) {
  body {
    background-color: azure;
  }
  h1 {
    font-weight: 700;
    font-size: 3em;
  }
  p {
    font-weight: 400;
    font-size: 1em;
  }
  ul li {
    list-style: none;
    font-size: 1em;
    width: 100vw;
    margin-top: 1em;
  }

  #btn:hover {
    background: linear-gradient(to right, hsl(4, 100%, 67%), hsl(4, 75%, 61%));
    border: none;
    box-shadow: 0 6px 20px hsl(4, 100%, 67%);
  }
}
/* ENDING OF THE @MEDIA PORTION */
