#main-div {
  border: 1px solid azure;
  border-radius: 20px;
  width: 40em;
  height: max-content;
  background-color: azure;
}
#second-div {
  margin: 2.5em;
}

/*BEGINNING OF THE @MEDIA PORTION*/

@media (max-width: 659px) {
  .hstack {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #main-div {
    height: 100vh;
    width: 100vw;
    border-radius: 0%;
  }
}
/*ENDING OF THE @MEDIA PORTION*/
